@media (min-width:1200px){
    .menuMd{
        height: map-get($map: menudesk, $key: altura);
        overflow: map-get($map: menudesk, $key: overflow);
    }
    .sizeSm{
        width:500px;
    }
    .menuMd_CH{
        @extend .menuMd;
    }
    .menuMd_MP{
        @extend .menuMd;
    }
    .menuMd_CT{
        height: 400px;
    }
}